<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LOW_OFF" value="0"/>
    <add key="HIGH_OFF" value="30"/>
    <add key="LOW_ON" value="200"/>
    <add key="MIN_BLINKS_FOR_POSITIVE" value="6"/>
    <add key="BLINK_TIME_PLUS_BUFFER" value="2"/>
    <add key="MAX_NUM_OF_SAMPLES" value="8"/>
    <add key="FILL_TIME" value="25000"/>
    <add key="DebugOutput" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
